@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Karla", sans-serif;
    color: #002249;
}

a {
    color: #6c90b9;
    text-decoration: none;
}
    a:hover {
        color: #002249;
    }

.btn {
    border-radius: 0;
    padding: 1rem 2.55rem;
}

.btn-main {
    color: #ffffff;
    background-color: #006de8;
    border-color: #006de8;
}

    .btn-main:hover {
        color: #ffffff;
        background-color: #0052af;
    }

.container {
    padding: 0;
}


.bg-whiteblue {
    background: #F7FCFF;
}

.h-line {
    margin-left: 20px;
    background: #006DE8;
    height: 2px;
    width: 70px;
}

.section-title {
    display: flex;
    align-items: center;
    color: #006DE8;
}

.form-control {
    border: none;
    padding: 25px 40px;
    color: #6B93AA;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

    .form-control::placeholder {
        color: #6B93AA;
    }

    .form-control:focus {
        color: #6B93AA;
        box-shadow: 0 0 2px 0.05rem #6B93AA40;
    }

textarea {
    resize: none;
}


/* COLORS */
.bg-blue-gradient {
    background: white;
    background: radial-gradient(circle, white 5%, #a9c7ec 100%);
}

.bg-whiteblue {
    background: #F7FCFF;
}




/* HEADER PARTIAL */
header {
    position: absolute;
    width: 100%;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "branding" "mainmenu";
}

#branding {
    grid-area: branding;
    background-color: #ffffff;
    text-align: center;
    padding-top: 25px;
}

    #branding h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 40px;
    }

    #branding p {
        font-family: "Karla", sans-serif;
        font-size: 15px;
        color: #6c90b9;
        line-height: 0.5;
    }

#topmenu {
    display: none;
    grid-area: topmenu;
    border-bottom: 1px solid #a9c7ec;
    padding-top: 18px;
    padding-bottom: 12px;
    margin-left: 100px;
}

    #topmenu .social a {
        margin-left: 1rem;
    }

#mainmenu {
    grid-area: mainmenu;
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

    #mainmenu .menu-items {
        margin-right: 2rem;
    }

        #mainmenu .menu-items a {
            margin-left: 4rem;
        }

@media (min-width: 992px) {
    .header-grid {
        display: grid;
        grid-template-columns: 274px auto;
        grid-template-areas: "branding topmenu" "branding mainmenu";
    }

    #topmenu {
        display: flex;
        justify-content: space-between;
    }
}


/* SHOWCASE PARTIAL */
#showcase {
    display: flex;
    padding-top: 200px;
}

    #showcase .column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #showcase .column .content p {
            font-size: 24px;
            color: #69a1bb;
        }

        #showcase .column .content h1 {
            font-size: 80px;
            color: #002249;
            font-family: "Roboto", sans-serif;
        }

        #showcase .column .content .items {
            display: flex;
        }

            #showcase .column .content .items .item {
                display: flex;
                align-items: center;
            }

                #showcase .column .content .items .item:first-child {
                    margin-right: 6rem;
                    margin-left: -1.5rem;
                }

                #showcase .column .content .items .item span {
                    margin-top: -1rem;
                    font-size: 24px;
                }

        #showcase .column .showcase-image {
            margin-right: -5rem;
        }

/* PAGE TITLE PARTIAL */
#pagetitle {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

    #pagetitle .content {
        margin: 135px 0;
        text-align: center;
    }

        #pagetitle .content h1 {
            font-size: 80px;
            color: #002249;
            font-family: "Roboto", sans-serif;
        }

        #pagetitle .content .breadcrumb {
            display: flex;
            justify-content: center;
            font-size: 24px;
            color: #69a1bb;
        }

            #pagetitle .content .breadcrumb a {
                margin: 0 1rem;
            }

/* CONTACT FORM PARTIAL */

#contactform-section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
}

    #contactform-section .column {
        flex: 1;
    }

        #contactform-section .column h1 {
            margin-top: 20px;
            font-size: 60px;
            font-family: Roboto, sans-serif;
        }

        #contactform-section .column #contactform {
            width: 90%;
            margin-top: 50px;
        }



/* BOOK MEETEING FORM PARTIAL */
#bookmeeting-section {
    background-color: #001222;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}

    #bookmeeting-section .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

        #bookmeeting-section .title h1 {
            font-size: 60px;
            font-family: Roboto, sans-serif;
        }

        #bookmeeting-section .title p {
            text-align: center;
            color: #C1D0DE;
            width: 40%;
        }

    #bookmeeting-section .form-control {
        border: 2px solid rgba(255, 255, 255, 0.20);
        padding: 25px 40px;
        color: #C1D0DE;
        font-family: "Karla", sans-serif;
        font-size: 1rem;
        background-color: transparent;
    }