<div class="navbar-grid">
    <div class="branding">
        <h1>OmniVus.</h1>
        <p>IT Service & Technology</p>
    </div>
    <div class="navbars">
        <nav class="social">
            <a href="mailto:info@omain.com">info@domain.com</a>
            <div class="nav-links">
                <a href="https://facebook.com">facebook</a>
                <a href="https://twitter.com">twitter</a>
                <a href="https://linkedin.com">linkedin</a>
                <a href="https://youtube.com">youtube</a>
            </div>
        </nav>
        <nav class="menu">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
            <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
            <a class="btn btn-main" asp-controller="Contact" asp-action="BookMeeting">Book a meeting</a>
        </nav>
    </div>
</div>
