<div class="showcase">
    <div class="showcase-body">
        <div class="showcase-text">
            <p>Promote any product, service or online course.</p>
            <h1>Get every it Services Here</h1>
            <div class="showcase-links">
                <div class="showcase-link">
                    <img src="images/red-circle.svg" alt="">
                    <span>IT Product</span>
                </div>
                <div class="showcase-link">
                    <img src="images/blue-circle.svg" alt="">
                    <span>IT Services</span>
                </div>
            </div>
        </div>
    </div>
    <div class="showcase-img">
        <img src="images/personimage.svg" alt="">
    </div>
</div>
