@{
    ViewData["Title"] = "Home";
}

<section class="bg-blue-gradient">
    <header>
        <div class="container">
            <partial name="_NavbarGridPartial" />
            <partial name="_ShowcasePartial" />
        </div>
    </header>
</section>
