@{
    ViewData["Title"] = "Services";
}

<section class="bg-blue-gradient">
    <header>
        <div class="container">
            <partial name="_NavbarGridPartial" />
            <partial name="_PageTitlePartial" />
        </div>
    </header>
</section>