<header>
    <div class="container">
        <div class="header-grid">
            <div id="branding">
                <h1>OmniVus.</h1>
                <p>IT Service & Teknologi</p>
            </div>
            <nav id="topmenu">
                <p>support@domain.com</p>
                <div class="social">
                    <a href="https://facebook.com">facebook</a>
                    <a href="https://twitter.com">twitter</a>
                    <a href="https://linkedin.com">linkedin</a>
                </div>
            </nav>
            <nav id="mainmenu">
                <div class="menu-items">
                    <a asp-controller="Default" asp-action="Index">Hem</a>
                    <a asp-controller="Services" asp-action="Index">Tjänster</a>
                    <a asp-controller="Contacts" asp-action="Index">Kontakta</a>
                </div>
                <a asp-controller="Contacts" asp-action="Book" class="btn btn-main">Boka ett Möte</a>
            </nav>
        </div>
    </div>
</header>