<div class="bg-blue-gradient">
    <div class="container">
        <div id="pagetitle">
            <div class="content">
                <h1>@ViewData["Title"]</h1>
                <div class="breadcrumb">
                    <a asp-controller="Default" asp-action="Index">Hem</a> | <a asp-controller="@ViewData["ControllerName"]" asp-action="Index">@ViewData["Title"]</a>
                </div>
            </div>
        </div>

    </div>
</div>