<div class="bg-blue-gradient">
    <div class="container">
        <div id="showcase">
            <div class="column">
                <div class="content">
                    <p>Vi erbjuder specialiserade tjänster och utbildningar</p>
                    <h1>Få professionella tjänster till ett bra pris</h1>
                    <div class="items">
                        <div class="item">
                            <img src="images/red-circle.svg" alt="röd cirkel" />
                            <span>IT Produkter</span>
                        </div>
                        <div class="item">
                            <img src="images/blue-circle.svg" alt="blå cirkel" />
                            <span>IT Tjänster</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <img class="showcase-image" src="images/person-male.svg" alt="manlig profilbild">
            </div>
        </div>
    </div>
</div>
